{{yield}}

  <li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</li>
      {{#if isImageShowing }}
        <p><img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}} </p>
        {{else}}
          <button>show image</button>
        {{/if}}
  </li>
