{{outlet}}

<h1>welcome to Super Rentals</h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |}}
  <li>{{rental.owner}}'s {{rental.type}} in {{rental.city}}</li>
  {{/each}}
</ul>

<ul>
  {{#each model as |rental|}}
    {{rental-title rental=rental}}
  {{/each}}
</ul>

delete(rental){
  if (confirm('Are you sure you want to delete this rental?')) {
    this.sendAction('destroyRental', rental);
  }
}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}click here to contact us.{{/link-to}}
